* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: brown;
  color: white;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
}

aside {
  width: 300px;
  background-color: red;
  height: 80vh;
  position: sticky;
  top: 80px;
  float: right;
}

.aside-container {
  width: 100%;
  height: 150vh;
  position: absolute;
  top: 0;
}

.main-section {
  border: 2px solid black;
  width: 50%;
  height: 250vh;
  position: relative;
  text-align: center;
  justify-content: center;
  left: 20%;
  right: 30%;
  padding: 110px 50px;
  font-weight: bold;
}

.conatct {
  width: 80px;
  height: 80px;
  position: fixed;
  background-color: blue;
  right: 40px;
  bottom: 40px;
  border-radius: 40px;
}

.my-footer {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
}
