body {
  background-color: red;
}

@media (min-width: 400px) and (max-width: 600px) {
  body {
    background-color: green;
  }
}

/* @media (max-width <= 200px) {
  body {
    background-color: yellow;
  }
} */
